

Author: Kidima Medy Masuka Date: 2026

✅ Project Overview



✅ Objectives



✅ Methodology



✅ Key Results



The dataset is 



🛠 Tools Used


👤 Author

Kidima Medy Masuka Operations & supply chain | Aspiring Data Scientist Focused on data-driven decision-making, risk analytics, and machine learning

Usage & Attribution This project is shared for educational and portfolio purposes.
If reused or adapted, appropriate credit must be given to the author.

📰This project is part of my personal data science and analyitcs portfolio ✅